<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

<!--    <link rel="stylesheet" href="/css/main.css">-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/myStyle.css">
</head>
<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area" th:fragment="header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(#1a213a, #485e6b);">
            <div class="container">
                <a class="navbar-brand logo_h" href="/home"><img src="/img/vAv-logo.png" alt="logo" style="width: 70px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li sec:authorize="isAuthenticated()" class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" th:each="categoryOpt : ${T(com.example.demo.model.enums.Category).values()}"
                                            th:value="${categoryOpt.displayValue}" th:text="${categoryOpt.displayValue}" th:href="@{'/viewCategory/' + ${categoryOpt.displayValue}}"></a>
                            </ul>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/addProduct">Add Product</a></li>
                        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/orders">View Orders</a></li>
                        <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/registration">Registration</a></li>
                        <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </ul>
                    <ul class="nav-shop">
                        <li class="nav-item">
                            <button><i class="ti-search" style="color: #ABEDF4;"></i></button>
                        </li>
                        <li class="nav-item">
                            <form method="get" action="#">
                                <button><i class="ti-shopping-cart" style="color: #ABEDF4" href="/buyNow"></i><span class="nav-shop__circle"></span></button>
                            </form>
                        </li>
                        <li class="nav-item"><a class="button button-header" href="/buyNow">Buy Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
</body>
</html>