<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row" th:fragment="listOfProducts">
    <div class="col-md-6 col-lg-4 col-xl-3" th:each="productDto:${productDtoList}">
        <div class="card text-center card-product">
            <div class="card-product__img">
                <img class="card-img" th:src="${'data:image/png;base64,'+productDto.image}" alt="">

                <ul class="card-product__imgOverlay">
                    <li><button><i class="ti-shopping-cart"></i></button></li>
                    <li><button><i class="ti-heart"></i></button></li>
                </ul>
            </div>
            <div class="card-body">
                <p th:text="${productDto.category}"></p>
                <h4 class="card-product__title"><a th:href="@{/product/{x}(x=${productDto.productId})}" th:text="${productDto.name}"></a></h4>
                <p class="card-product__price" th:text="${productDto.price}+'€'"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>