<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy Now</title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <form th:object="${billingDetailsDto}" class="row contact_form" action="/buyNow" method="post"
                          novalidate="novalidate">
                        <div class="col-md-6 form-group p_star">
                            <label for="firstName">First name</label>
                            <input th:field="*{firstName}" type="text" class="form-control" id="firstName" name="firstName">
                            <label th:errors="*{firstName}"></label>
                            <span class="placeholder" data-placeholder="First name"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="lastName">Last name</label>
                            <input th:field="*{lastName}" type="text" class="form-control" id="lastName" name="lastName">
                            <label th:errors="*{lastName}"></label>
                            <span class="placeholder" data-placeholder="LastName"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="phoneNumber">Phone number</label>
                            <input th:field="*{phoneNumber}" type="text" class="form-control" id="phoneNumber"
                                   name="phoneNumber">
                            <label th:errors="*{firstName}"></label>
                            <span class="placeholder" data-placeholder="First Name"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="email">Email</label>
                            <input th:field="*{email}" type="text" class="form-control" id="email" name="email">
                            <label th:errors="*{email}"></label>
                            <span class="placeholder" data-placeholder="Email Address"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label for="address">Address</label>
                            <input th:field="*{address}" type="text" class="form-control" id="address" name="address">
                            <label th:errors="*{address}"></label>
                            <span class="placeholder" data-placeholder="Address"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="postCode">Post Code</label>
                            <input th:field="*{postCode}" type="text" class="form-control" id="postCode" name="postCode"
                                   placeholder="Postcode">
                            <label th:errors="*{postCode}"></label>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-register w-100">Confirm Billing Details</button>
                        </div>
                    </form>
                </div>
                <style>
                    .order_box .list li a span.first {
                        float: none;
                        max-width: 130px;
                        width: 130px;
                        display: inline-block;
                    }

                    .order_box .list li:nth-child(4) a .middle {
                        margin-left: 30px;
                    }

                </style>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">

                            <li th:each="product : ${productMap}">
                                <a href="#">
                                    <span th:text="${product.key.name}" class="first"></span>
                                    <span th:text="${' x '+product.value.quantity}" class="middle"></span>
                                    <span th:text="${product.value.totalPrice}" class="last"></span>
                                </a>
                            </li>

                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Subtotal <span th:text="${priceSummaryDto.subtotal + '$' }"></span></a></li>
                            <li><a href="#">Shipping <span th:text="${priceSummaryDto.shipping + '$'}"></span></a></li>
                            <li><a href="#">Total <span th:text="${priceSummaryDto.total + '$'}"></span></a></li>
                        </ul>

                        <div class="text-center">
                            <a class="button button-paypal" href="/confirmation"
                               style="background-color: #1a213a; border: #1a213a">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Checkout Area =================-->

</body>
</html>