<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container" style="background-color: #E5ECEE; padding: 30px; margin-top: 45px">
    <div th:each="order:${orders}">
        <h5>Order Details</h5>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Product</p>
                </div>
                <div class="col">
                    <p>Quantity</p>
                </div>
                <div class="col">
                    <p>Total</p>
                </div>
            </div>
            <div class="row"><br></div>
            <div th:each="product:${order.key}">
                <div class="row">
                    <div class="col">
                        <p th:text="${product.key.name}"></p>
                    </div>
                    <div class="col">
                        <p th:text="${product.value.quantity}"></p>
                    </div>
                    <div class="col">
                        <p th:text="${product.value.totalPrice}"></p>
                    </div>
                </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col align-self-center">
                    <p style="margin-left: auto; margin-right: 10px">Subtotal:</p>
                    <p style="margin-left: auto; margin-right: 10px">Shipping:</p>
                    <p style="margin-left: auto; margin-right: 10px">Total:</p>
                </div>
                <div class="col align-self-end">
                    <p th:text="${order.value.subtotal}" style=""></p>
                    <p th:text="${order.value.shipping}"></p>
                    <p th:text="${order.value.total}"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="order_details_table" th:each="order:${orders}"> <!--  entry == order  -->
        <h2>Order Details</h2>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product:${order.key}">
                    <td>
                        <h5 th:text="${product.key.name}"></h5>
                    </td>
                    <td>
                        <h5 th:text="${product.value.quantity}"></h5>
                    </td>
                    <td>
                        <h5 th:text="${product.value.totalPrice}"></h5>
                    </td>
                </tr>
                </tbody>
            </table>
            <tr><br></tr>
            <tfoot>
            <tr>
                <h5 th:text="${'Subtotal : €' + order.value.subtotal}"></h5>
            </tr>
            <tr>
                <h5 th:text="${'Shipping : €' + order.value.shipping}"></h5>
            </tr>
            <tr>
                <h5 th:text="${'Total : €' + order.value.total}"></h5>
            </tr>
            </tfoot>
        </div>
    </div>
</div>
</body>
</html>